* {
    margin:0;
    padding:0;
    border:0;
}



html, body { 
height: 100%;
}

.fundo {
height: 100%;
width: 100%;
background-color: #3b5998;
display: flex;
justify-content: center;
align-items: center
}

.popup {
height: 600px;
width: 900px;
background-color: white;
border-radius: 20px;
overflow: hidden;
display: flex;
box-shadow: 0 10px 35px rgba(0,0,0,0.4);
}

.image {
height: 600px;
width: 400px;
background-image: url("friends-happy.jpg");
background-size: cover;
background-position: center; 
        
}

.formulario {
width: 500px;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;    

}

.wrapper {
width: 400px;
height: 370px;

}

h1 {
color: #3b5998;
font-family: 'Open Sans', sans-serif;
font-weight: normal;          
}

form {
width: 100%;
margin-top: 50px;
}

form input {
width: 100%;
border: 0;
border-bottom: 1px solid grey;
padding: 12px 20px;
margin: 10px 0;
box-sizing: border-box;
font-size: 20px;
}

form button {
width: 100px;
background-color: #3b5998;
border-radius: 5px;
font-size: 15px;
padding: 12px 20px;
color: white;
cursor: pointer;
font-family:'Open Sans', sans-serif;
font-weight: normal;        
}
.signup {
display: flex;
align-items: center;
font-family:'Open Sans', sans-serif;
margin-top: 40px;

}

p {
font-size: 12px;
font-family:'Open Sans', sans-serif;
margin-left: 10px;
}

.signup a {
text-decoration: none;
font-weight: bold;
}

.rodape {
color: grey;
}