* {
    margin: 0;
    padding: 0;
    border: 0;
    }

    table {
        width: 600px;
        border-collapse: collapse;

    }

    th {
        border: 1px solid #000000;
        background-color: gray;
        padding: 10px;
        
    }

    td {
        border: 1px solid #000000;
        padding: 10px;

    }